@import 'src/styles/variables.scss';

.chart {
    background-color: $dark-gray3;
    color: '#FFF';

    :global {
        svg {
            .chartLine {
                fill: none;
                stroke-width: 2;
            }

            .dataAxis {
                text {
                    paint-order: stroke;
                    stroke: $dark-gray3;
                    stroke-width: 3px;
                    stroke-linecap: butt;
                    stroke-linejoin: miter;
                    font-weight: 600;
                }
            }

            .timeAxis,
            .commonDataAxis {
                text {
                    fill: $light-gray5;
                }
                .domain,
                .tick line {
                    stroke: $light-gray1;
                }
            }

            .tipMouseLine,
            .tipPointerLine {
                stroke: $light-gray3;
                stroke-width: 1px;
            }

            .tipCircle {
                stroke-width: 2px;
                fill: $dark-gray1;
            }

            .tipText {
                transform: translate(6px, 4px);
                fill: $light-gray5;

                paint-order: stroke;
                stroke: $dark-gray3;
                stroke-width: 3px;
                stroke-linecap: butt;
                stroke-linejoin: miter;
                font-weight: 400;
            }

            .tipTime {
            }

            .tipTimeRect {
                fill: $light-gray3;
            }

            .tipTimeText {
                fill: $dark-gray3;
            }
        }
    }
}

.controls {
    position: absolute;
    top: 5px;
    left: 38px;
    right: 5px;
    z-index: 5;
    display: flex;
    justify-content: space-between;

    :global {
        .btn-group button {
            background-color: $light-gray3; /* Green background */
            border: 1px solid $dark-gray3; /* Green border */
            color: $dark-gray3; /* White text */
            padding: 5px 12px; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            float: left; /* Float the buttons side by side */

            &:focus {
                outline: 0;
            }

            &.active {
                background-color: $gray3;
            }
        }

        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

        /* Clear floats (clearfix hack) */
        .btn-group:after {
            content: '';
            clear: both;
            display: table;
        }
    }
}
